<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Solution_AlienonEarth.Properties.Settings.Setting"
            connectionString="Data Source=HKC-PC;Initial Catalog=Alien_Earth;User ID=CredSol;Password=credence13022013"
            providerName="System.Data.SqlClient" />
        <add name="Solution_AlienonEarth.Properties.Settings.masterConnection"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=master;Integrated Security=True" />
    </connectionStrings>
</configuration>